{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Post Article{% endblock %}
{% block content %}
    <div class="card shadow-sm p-4 mx-auto" style="max-width: 800px;">
        <h1 class="display-6 fw-bold">Create an Article</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100"><i class="fas fa-pen"></i> Post</button>
        </form>
    </div>
{% endblock %}